fastapi
uvicorn
pydantic[email]
numpy
pandas
scikit-learn
python-multipart
reportlab
passlib[bcrypt]
bcrypt
python-jose[cryptography]
email-validator
google-auth
msal
google-genai
psycopg2-binary
pyyaml
python-dotenv
requests
httpx
