.literature-panel{

    margin-top:25px;

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.05);

}

.literature-panel h2{

    color:#0F4C81;

    margin-bottom:20px;

}

.paper-card{

    border:1px solid #E4ECF5;

    border-radius:15px;

    padding:18px;

    margin-bottom:15px;

    transition:.25s;

}

.paper-card:hover{

    transform:translateY(-4px);

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.paper-card h3{

    margin-bottom:8px;

    color:#1F2937;

}

.paper-card p{

    color:#667085;

    margin-bottom:5px;

}

.paper-card span{

    color:#0F4C81;

    font-weight:600;

}