@media print {

  body * {

    visibility: hidden;

  }

  .protocol-card,
  .protocol-card * {

    visibility: visible;

  }

  .protocol-card {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    box-shadow: none;
    border: none;

  }

  button {

    display: none;

  }

}